@import '../styles/custom-media.css';

.root {
  box-sizing: border-box;
  max-width: 630px;
  /* padding: 1.5em; */
  margin-right: 50px;
  margin: 0 auto;

  @media (--media-min-small) {
    /* padding: 2em; */
    margin-right: 50px;
  }
}
