.Hero {
  height: 500px;
  padding-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Header__image img {
  width: 17.5rem;
  margin: 1.4rem 0;
}

.Social__logo {
  width: 1.6rem;
  height: 1.6rem;
  color: grey;
  margin: 0 0.5rem;
}
